<nav class="container d-flex justify-between align-center py-16 py-sm-12">
  <ul class="d-flex justify-center align-center">
    <li class="me-48">
      <a href="#"><img src="/assets/images/week1/logo.svg" alt="logo" /></a>
    </li>
    <li class="me-40 d-sm-none ">
      <a href="products.html" class="py-12">商品列表</a>
    </li>
    <li class="d-sm-none "><a href="./story.html" class="py-12">品牌故事</a></li>
  </ul>
  <a href="#"><i class="bi bi-person"></i></a>
</nav>
