.copyright {
  padding-top: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: $color-neutral-600;
  text-align: center;
  border-top: 1px solid $color-neutral-300;
}

@media (max-width: 576px) {
  .register-btn {
    padding: 8px 16px;
  }
}