$color-neutral-0: #fff;
$color-neutral-100: #F8F9FA;
$color-neutral-300: #DEE2E6;
$color-neutral-500: #ADB5BD;
$color-neutral-600: #6C757D;
$color-neutral-900: #212529;
$color-primary-100: #F5FEE7;
$color-primary-200: #E8FEC5;
$color-primary-300: #C0FA73;
$color-primary-400: #57A203;
$color-primary-500: #477A11;
$color-danger-red: #D74F4F;
